:root {
  --Very-dark-blue-mainBG: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-cardBG: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-para: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

/* Body Styles
/* ------------------------------- */

body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;

  background-color: var(--Very-dark-blue-mainBG);

  margin: 10px;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main / Card Styles
/* ------------------------------- */

main {
  background-color: var(--Dark-desaturated-blue-cardBG);

  max-width: 320px;
  border-radius: 15px;
  min-height: 92vh;

  margin-bottom: 30px;
}

/* Image Styles
/* ------------------------------- */

.image-box {
  background-color: var(--Soft-violet-accent);
  border-radius: 15px 15px 0px 0px;
}

img {
  display: block;
  width: 100%;
  mix-blend-mode: multiply;
}

/* Copy (h1 and p) section
------------------------------------- */

h1 {
  color: var(--White-main-heading-stats);
  padding: 0 15px 0 15px;
  text-align: center;
}

span {
  color: var(--Soft-violet-accent);
}

.main-copy p {
  color: var(--Slightly-transparent-white-main-para);
  padding: 0 15px 0 15px;
  text-align: center;
  margin-bottom: 0;
}

/* Stats section
------------------------------------- */
.main-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-stats h1 {
  margin-bottom: 0;
}
.main-stats p {
  color: var(--Slightly-transparent-white-stat-headings);
  text-transform: uppercase;
  margin: 0;
}

/* Attribution section
------------------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
